.valentine-theme {
    background-color: #fce6f4;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    .animate {
        transition: all 0.3s ease-in-out;
        margin-top: 40px;
        margin-bottom: 40px;
        cursor: pointer;
    }
    .text-animate {
        transition: all 0.3s ease-in-out;
    }
    .text-animate:hover {
        transform: scale(1.1);
    }
    
}

.valentine-theme .animate:hover {
    transform: scale(1.1) rotate(5deg);
}