@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #16120e;
}

.background-global {
    background-color: #16120e;
}

.background-global-light {
    background-color: #413529;
}

.title-animation {
    transition: letter-spacing 0.4s ease;

}

.title-animation:hover {
    letter-spacing: 1px;
}

.image-animation-zoom {
    transition: transform 0.4s ease;
}

.image-animation-zoom:hover {
    transform: scale(1.1);
}